<div class="container">
<div class="row">
<div class="col-sm-6 circle">
<%= image_tag('/workers-circle.jpg') %>
</div>

<div class="col-sm-6 text pt-5">
  <%= image_tag('/transparent-logo.png') %> <br><br>
Linkdr is where the people hire <strong>software developers</strong>. Like in real life, but better. <br>
  <div class="button-box submit">Join us today!</div>
</div>
</div>

</div>


<div class="overlay">
  <div class="signup-box box">
  <div class="text-right">
    <i class="close-box material-icons">close</i>
  </div>
    <div class="row">
      <div class="col-sm-6 text-center">
        <i class="material-icons header-icon">supervisor_account</i>
        <h2> Company</h2>
        <p>Hire Top Talents Fast and Cost-Efficiently</p>
        <ul class="text-left">
          <li><i class="material-icons">check</i> Unlimited Jobs</li>
          <li><i class="material-icons">check</i> Unlimited Posting Duration</li>
        </ul>
        <%= link_to "/company/sign_up" do %>
          <div class="button-hire submit">Start Hiring</div>
        <% end %>
      </div>
      <div class="col-sm-6 text-center">
      <i class="material-icons header-icon">face</i>
        <h2>Candidate</h2>
        <p>Relevant Job Postings All Day Everyday</p>
        <ul class="text-left">
          <li><i class="material-icons">check</i> Unlimited Jobs</li>
          <li><i class="material-icons">check</i> Unlimited Posting Duration</li>
        </ul>
        <%= link_to "/candidate/sign_up" do %>
          <div class="button-hire submit">Start Seeking</div>
        <% end %>
        </div>
    </div>
  </div>
</div>

<%# <p>if no cookies, show the sign up buttons / log in buttons otherwise, after sign in, will redirect to "/candidates/:id/dashboard" or "/companies/:id/dashboard"</p> %>

<script>
var button = document.querySelector('.button-box');
var closeBox = document.querySelector('.close-box');
var box = document.querySelector('.overlay');

button.addEventListener('click', () => {
  box.style.display = "block"
})

closeBox.addEventListener('click', () => {
    box.style.display = "none"
})
</script>