<% if @company %>
  <p><%= @company.name %></p>
  Jobs posted: <% @company.job.each do |job| %>
    <a href="/jobs/<%= job.id %>"><p><%= job.title %></p></a>
  <% end %>
<% elsif @candidate %>
  <%# show candidate stuff. don't know what's relevant yet %>
  <%= @candidate.inspect %>
<% end %>
