

<h1><%= @company.name %></h1>
<div class="h1-after company">&nbsp;</div>

<div class="container companies">
<p>Company name: <%= @company.name %></p>
<p>Company size: <%= @company.size %></p>
<p>Industry: <%= @company.industry %></p>
<section class="jobs">
    <h2>Your job listings</h2>
    <!-- insert listings similar to candidate's suggested job listings -->
</section>
</div>
