<h3>Matches#candidatesmatch</h3>
<p>Find me in app/views/matches/candidatesmatch.html.erb</p>
<h5>JOB TITLE:</h5>
<p><%= @match.job.title %></p>
<h5>JOB DESCRIPTION:</h5>
<p><%= @match.job.description %></p>
<h5>Offered Salary</h5>
<p><%= @match.job.offered_salary %></p>
<h5>Country</h5>
<p><%= @match.job.country %></p>
<h5>DO YOU LIKE IT:</h5>
<p>Yay</p><p>Boo</p>
