// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #262222;
$primary-color: #4585a9;
$secondary-color: #ff6161;

$red: #e51a45;
$white: #ffffff;

$light-pink: rgb(252,232,227);

.candidate-info {
    .profile {
        background: $white;
        padding: 20px;
        -webkit-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        line-height: 40px;

        h3 {
            background: rgb(252,232,227); 
            font-weight: bold;
            font-style: italic;
        }
    }
    
    .stats {
        padding: 20px;
    }
}

.candidate {
    .public-profile {
        .message  {
            padding: 20px;
        }

        .stats {
            background: #fdf5f3;
            padding: 30px 40px;
            line-height: 30px;

            i {
                font-size: 18px;
            }
        }

        .bio {
            font-size: 16px;
        }

        .info {
            background: $white;
            padding: 20px 20px 40px;
            margin-bottom: 20px;
            position: relative;
            margin: 10px;
            text-decoration: none;
        }
    }

    h2 {
        font-weight: bold;

        .highlight {
            background: rgb(252,232,227);
        }

        &:after {
        }
    }

    .suggested-jobs {
        margin: 40px auto;
        
        .board {
            padding: 20px 0;
            display: flex;
            flex-flow: row wrap;

            .listing {
                flex: 0 0 calc(33.333% - 20px);
                background: $white;
                padding: 20px 20px 40px;
                margin-bottom: 20px;
                position: relative;
                margin: 10px;
                text-decoration: none;

                &:hover {
                    // background: $light-pink;
                    // transform: translateY(5px);
                }

                .position-title {
                    font-weight: bold;
                }

                .position-salary,
                .location {
                    font-style: italic;
                }
            }
        }
    }
}


.error-message {
    color: $red;
    font-weight: bold;
}