// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$body-font-color: #262222;
$primary-color: #4585a9;
$secondary-color: #ff6161;

$button-color: #ffffff;

.candidate-info {
    .profile {
        background: $button-color;
        padding: 20px;
        -webkit-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        line-height: 40px;

        h3 {
            background: rgb(252,232,227 ); 
            font-weight: bold;
            font-style: italic;
        }
    }
    
    .stats {
        padding: 20px;
        -webkit-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
    }
}

.candidate {
    .suggested-jobs {
        margin: 40px auto;
    }
}