// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #262222;
$primary-color: #4585a9;
$secondary-color: #ff6161;

$white: #ffffff;

$light-pink: rgb(252,232,227);
$yellow: #fbd864;

$color1: #4f66f5;
$color2: #96c6b1;
$color3: #f54f82;

$colors: $color3, $yellow, $color1, $color2;
$repeat: 80;

@for $i from 1 through $repeat {
    .listing:nth-child(#{length($colors)}n+#{$i}) .position-title {
        background: lighten(nth($colors, random(length($colors))), 20%);
    }
}

.job-info {
    margin: 40px auto;

    .profile {
        background: $white;
        padding: 20px;
        -webkit-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        line-height: 40px;

        h3 {
            background: rgb(252,232,227); 
            font-weight: bold;
            font-style: italic;
        }
    }
    
    .stats {
        padding: 20px;
    }
}

.jobs,
.posted-jobs,
.suggested-jobs {
    .board {
        padding: 20px 0;
        display: flex;
        flex-flow: row wrap;

        .listing {
            flex: 0 0 calc(33.333% - 20px);
            background: $white;
            padding: 20px 20px 60px;
            margin-bottom: 20px;
            position: relative;
            margin: 10px;
            text-decoration: none;

            &:hover {
                // background: $light-pink;
                // transform: translateY(5px);
            }

            .position-title {
                font-weight: bold;
                font-size: 21px;
                margin-bottom: 15px;
                // background: $light-pink;
            }

            .position-salary,
            .location {
                font-style: italic;
            }

            .description,
            .skills {
                font-size: 16px;
                line-height: 20px;
                padding: 10px 0 0;
            }

            .skills {
                margin-bottom: 15px;
            }

            .actions {
                font-size: 16px;
                position: absolute; 
                bottom: 15px;
            }
        }
    }
}


@media screen and (max-width: 414px) {
.jobs,
.posted-jobs,
.suggested-jobs {
    .listing {
        flex: 0 1 100% !important;
    }
}
}