// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grey: #262222;
$primary-color: #4585a9;
$secondary-color: #ff6161;

$white: #ffffff;

$light-pink: rgb(252,232,227);

.job-info {
    margin: 40px auto;

    .profile {
        background: $white;
        padding: 20px;
        -webkit-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        -moz-box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        box-shadow: 9px 9px 24px 6px rgba(0,0,0,0.11);
        line-height: 40px;

        h3 {
            background: rgb(252,232,227); 
            font-weight: bold;
            font-style: italic;
        }
    }
    
    .stats {
        padding: 20px;
    }
}
