@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu-BoldItalic.woff2') format('woff2'),
      url('/fonts/Apercu-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu-Italic.woff2') format('woff2'),
      url('/fonts/Apercu-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu-Regular.woff2') format('woff2'),
      url('/fonts/Apercu-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu';
  src: url('/fonts/Apercu-Bold.woff2') format('woff2'),
      url('/fonts/Apercu-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

$main-background-color: #f3f3f3;
$secondary-background-color: #ffffff;

$body-font-color: #262222;
$primary-color: #4585a9;
$secondary-color: #ff6161;

$main-font: 'Apercu', Helvetica, sans-serif;
$footer-font: #555555;

@media (min-width: 1200px) {
  .container, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container-xl {
      max-width: 960px !important;
  }
}

body {
  background-color: $main-background-color;
  color: $body-font-color;
  font-family: $main-font;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 1px;
}

p, ol, ul, td {
  font-family: $main-font;
  font-size: 20px;
  line-height: 26px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 16px;
}

.top-header {
  width: 100%;

  .candidate {
    background: #fce8e3 !important;
  }
}

h1 {
  font-size: 85px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.h1-after {
  background: #fbd864;
  transform: rotate(-2deg);
  height: 10px;
  margin-top: -20px;
}


h2 {
  text-align: center;
}

a {
  color: $body-font-color;
  text-decoration: underline;
  cursor: pointer;

  &:visited {
    color: $body-font-color;
  }

  &:hover {
    color: #fff;
    background-color: $primary-color;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin: 20px 0 0;
  }
}

#notice {
  color: green;
}


.navbar {
  margin-bottom: 30px;
  padding: 0;

  img {
    width: 120px;
  }
}

.container {
  margin: 50px auto;
}

footer {
  font-size: 16px;
  color: $footer-font;
  margin-top: 50px;

  .container {
    margin: 20px auto 50px;
  }

  h3 {
    color: $body-font-color;
    font-size: 18px;
    font-weight: bold;
  }

  .text {
    padding-top: 20px;
    margin-top: 20px;
    // border-top: 1px solid $footer-font;
  }
}

footer:before {
  width: 100%;
  font-size: 30px;
  text-align: center;
  content: "〰️";
  display: block;
}